.myShoppingCartContainer{
/*    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    margin-bottom: 3%;
    padding-bottom: 10px;*/
}
.myJumboron{
    padding: 20px 15px;
    border-bottom: 2px solid #000d29;
    color: #77afce;
    width: 100%;
    text-align: center;
    z-index: 2;
    background: #fcfcfc;
    top: 0;             
}
#contentDivMyCart table thead th{
    padding: 15px 10px;
    font-size: 1.1em;
    color: #77afce;
    background: #fdfdfd;
    margin: 10px;
}
#contentDivMyCart table tbody td{
    padding: 15px 10px;
    font-size: 1em;
    color: #555;
    background: #fff;
}
#contentDivMyCart .totalPriceDiv{
    text-align: right;
    letter-spacing: -0.5px;
}
#contentDivMyCart .totalPriceDiv p{
    font-size: 1.1em;
}
#contentDivMyCart .totalPriceDiv p span{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 14px;
    margin-right: 22px;
    color: #000d29;
    /* text-decoration: underline; */
}
.buyMyItems{
    padding: 14px 16px;
    font-size: 1.2em;
    border-radius: 0;
    margin: 5px;
    border: #77afce 1px solid;
    color: #fff;
    background: #77afce;
}
.buyMyItems:hover,.buyMyItems:active{
    background-color: #fff;
    color: #77afce;
}
.shoppingCartNav i:nth-child(1), .shoppingCartNav  i:nth-child(2), .shoppingCartNav i:nth-child(3){
    visibility: hidden;
}
#myShoppingListItems button{
    border-radius: 0;
}
@media(max-width:600px){
    .myJumboron h2{
        font-size: 22px;
        margin: 0;
    }
    .myShoppingCartContainer{
        box-shadow: none;
    }
}