.topPart{
    margin-top: 0;
}
.topPart .breadcrumb{
    background-color: #fff;
    margin:0;
    text-transform: capitalize;
    /*border : 1px dotted green;*/
}
.titleDiv{
    /*                padding : 10px 15px;*/
    margin-bottom: 9px;
    border-bottom: 1px solid #000D29;
}
.titleDiv h1{
    text-align: center;
    letter-spacing: -1px;
    margin : 5px;
    text-transform: capitalize;
}
.titleDiv h1 small{
    font-weight: 600;
    font-size: 24px;
}
.imageBuyDiv .col-sm-7{
    padding : 10px 25px;
    /*border : 1px dashed greenyellow;*/
}
.imageBuyDiv .col-sm-7 img{
    width: 98%;
    height: 290px;
}

.imageBuyDiv .col-sm-5{
    padding : 10px 25px;
    /*border : 1px brown double;*/
}
.imageBuyDiv .col-sm-5 table{
    font-size: 12px;
    margin-bottom: 5px;
}
.imageBuyDiv .col-sm-5 .form-group{
    margin-bottom: 0;
}
.imageBuyDiv .col-sm-5 .input-group-btn{
    padding: 0;
    border-radius: 0;
    border: none;
}
.imageBuyDiv .col-sm-5 .input-group-btn button{
    padding: 4.5px;
    width: 33px;
    color: #fff;
    background-color: #118b8c;
    border: 1px solid #118b8c;
    transition: 0.5s;
}
.imageBuyDiv .col-sm-5 .input-group input{
    border-radius: 0;
    box-shadow: none;
}
.imageBuyDiv .col-sm-5 .input-group-btn button:hover{
    background-color: #fff;
    color: #118b8c;
}
.imageBuyDiv .col-sm-5 button{
    padding: 10px 17px;
    letter-spacing: 0px;
    font-size: 13px;
    font-weight: bold;
}

.imageBuyDiv .col-sm-5 .buybtn{
    color: #fff;
    border: 1px solid #118b8c;
    background: #118c8b;
}
.imageBuyDiv .col-sm-5 .cartbtn{
    background: #fff;
    border: 1px solid #118b8c;
    color: #118b8c;
}
/*Every thin till image an buy part above ^ !*/
/*Every thin till image an buy part below V  !*/

.descriptionDiv{
    background-color : #fcfcfc;
}
.descriptionDiv h2,.morePicDiv h2, .otherProducts h2{
    border-bottom: 2px solid #000D29;
}
.descriptionDiv h2 small,.morePicDiv h2 small, .otherProducts h2 small{
    color: #000D29;
}
.descriptionDiv ul{
    list-style-type: circle;
}
.descriptionDiv ul li{
    margin: 10px;
}
.morePicDiv .col-sm-4{
    padding: 10px;
}
.morePicDiv img{
    width: 98%;
    height: 170px;
}            
.otherProducts img{
    width: 88%;
    height: 160px;
    margin-left: 6%;
    margin-right: 6%;
}            