.myNavRow{
    background-color: #fff;
    z-index: 6;
    margin: 0;
    border-bottom: 2px solid #000D29;
    top: 0;
    width: 100%;
}
a{
    cursor: pointer;
}
.myHlp, .myAcbtn, .myCart{
    cursor: pointer;
}
.navDiv{
    text-align: center;
    margin-bottom: 0;
    padding:0;
    /*box-shadow: 0 2px 4px 0px #118c8b;*/
    background-color: #fff;
}
.myNav{
    /*border : 1px solid red;*/
    margin-top: 25px;
    box-sizing: border-box;
    padding:0;
    list-style-type: none;
    /*margin-bottom: 0;*/
} 
.myNav .logo, .myNav .searchBar, .myNav .Etc{
    display: inline-block;
    box-sizing: border-box;
    padding : 0px;
    /*border : 1px dotted blue;*/
    margin:1px;
    height: 50px;
    vertical-align: bottom;
}
.myNav .searchBar{
    width: 50%;
}
.myNav .logo{
    /*                width: 18%;*/
    padding: 0;
}
/*====================Logo CSS===========================*/
.myNav .logo h2{
    margin:0;
    /*border: 1px solid green;*/
    padding : 0px;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
}
.myNav .logo .myLog{
    margin:0;
    /*border: 1px solid green;*/
    cursor: pointer;
    padding : 0px;
    box-sizing: border-box;
    display: inline-block;

}
.myNav .logo h2 .myImg{
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    border : 0.5px solid #999;
    border-radius: 1px;
    width: 50px;
}
.myNav .logo h2 .glyphicon-menu-down{
    vertical-align: bottom;
    font-size: 12px;
}
.myNav .logo h2 .glyphicon-menu-hamburger{
    vertical-align: bottom;
}
/*================ Form Field================*/
.myNav .searchBar{
    padding : 0;
}
.myNav .searchBar .block{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
}
.myNav .searchBar form, .myNav .searchBar form .form-group{
    height: 100%;
}
.myNav .searchBar form input,.myNav .searchBar form button{
    padding : 10px;  border-radius: 0;
    height: 100%;width: 100%;
    box-shadow: none;
}
.myNav .searchBar form input:focus{
    box-shadow: none;
}
.myNav .searchBar form .input-group,.myNav .searchBar form .input-group-btn{
    padding : 0;
    margin : 0;
    height: 100%;
}
.displaySmall{
    display:none;
}
#searchResult{
    z-index: 5;
    position: absolute;
    list-style-type: none;
    border: 1px solid #888;
    border-top: none;
    margin-top: 0px;
    /* padding-right: 3px; */
    display: none; 
    background-color: white;
    padding: 7px 10px;
}
#searchResult a{
    color : #999;
    display: block;
    box-sizing: border-box;
    transition: .4s;
    text-decoration: none;
}
#searchResult a:hover{
    color: #118c8b;
}

/*====================ETC STUFF===================*/
.myNav .Etc ul{
    list-style-type: none;
    margin: 0;
    padding:0px;
    height: 100%;
}
.myNav .Etc ul li{
    height: 100%;
    /*padding-top:10px ;*/ 
    display: inline-block;
    margin: 0 5px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: unset;
}
.myNav .Etc ul li br{
    margin: 0;
    padding: 0;
    height: 0;
}
.myNav .Etc ul li sup .label{
    vertical-align: text-top;
    margin-left: -3px;
}


@media(max-width:768px){

    .myNav{
        margin-top: 15px;
        font-size: 17px;
        height: 35px;
    } 
    .myNav li{

    }
    .myNav .logo,.myNav .searchBar, .myNav .Etc{
        padding-right:2px ; height: 35px;
    }
    .myNav .logo h2 .glyphicon-menu-hamburger{
        font-size: 15px;padding: 0; margin: 0;
    }
    .myNav .logo h2 .glyphicon-menu-down{
        font-size: 8px; padding: 0; margin: 0;
        margin-left: -5px;
    }
    .myNav .logo h2 .myImg{
        width: 42px;
        margin-left: -3px;
    }
    .myNav .searchBar form input,.myNav .searchBar form button{
        padding : 7px;
    }
    .myNav .searchBar{
        width: 45%;
    }

    .displayBig, .displaySmall{
        /*font-size: 10px;*/display: none;  
    }
    .displaySmall{
        display: inline;
    }

    #searchResult, .myNav .Etc ul{
        font-size: 11px;
    }
    .myNav .Etc ul li{
        margin: 0 2px;
    }

}
@media(max-width:529px){
    .navDiv .Etc ul{
        width: 0;
        overflow: hidden;
    }
    #main, .menus{
        display: block;
    }
    .navDiv .searchBar{
       width: 67%;
    }
    .navDiv .searchBar form input{
        padding: 5px;
        font-size: 10px;
    }
    .navDiv{
        /*text-align: left;*/
        padding :0 3px;
    } 
    #searchResult{
        font-size: 10px;
    }
    .displayBig{
        display: none;
    }
    .myNav .Etc ul li{
        margin: 0;
    }
}
@media(max-width:360px){
    .navDiv{
        padding :0 3px;
    }
    #searchResult li{
        margin-left: -25px;
    }
    .myNav .Etc ul li{
        margin: 0;
    }
}
