.rowdiv{
    background-color: #ece5df;
}
.topDiv{
    background: #FFF;
    text-align: center;
    z-index: 1;
}
.topDiv p{
   color: #000D29;
    margin: 3px 4px;
    font-size: 9px;
}
.topDiv img{
 
    height: 65px;
    border: 1px solid red;
    
    margin: 3px;
}

/*---------color css-------*/
/*1--largbtns*/
.btnLarge{
    transition: 0.5s;
    color: #fff;
    background-color: #118C8B;
    border: 1px solid #118C8B;
}
.btnLarge:focus {
    color: #fff;
    background-color: #118C8B;
}
.btnLarge:hover{
    color: #118C8B;
    background-color: #fff;
}
/*2--smalbtns*/
.btn{
    border-radius: 0;
}
.label{
    color: #fff;
    background-color: #F2746B;
}

.blockDiv2 h4{
    /*color :#118C8B;*/
}
.blockDiv2 p a{
    color: #999;
}

/*---------color css-------*/
.myAccount{
       opacity: 1;
    padding: 3px;
    width: 200px;
    padding-left: 5px;
    margin-left: -60px;
    box-shadow: 0 3px 6px 0 #999;
    padding-right: 5px;
}
.myShpCart{
    width: 250px;
    margin-left: -112px;
}
#customerLogin{
    font-size: 11px;
}
#customerLogin input,  #customerLogin button{
    border-radius: 0;
}
#customerLogin a{
    cursor: pointer;
}
.myAccount::after{
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;

    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #999 transparent;
}
@media(max-width:768px){
    .myAccount::after{
       left: 50%;
    }
    .myAccount{
        width: 230px;
    }
}
@media(max-width:500px){
    .myAccount::after{
       left: 50%;
    }
    .myAccount{
       display: none;
    }
}
@media(max-width:529px){
    .myAccount{
        display: none;
    }
}
@media(max-width:360px){
    .myAccount::after{
        left: 50%;
    }
    .myAccount{
        display: none;
    }
}