.crumbDiv{
    padding :10px 20px;
}
.dataDiv{
    /*border : 1px #000D29 dotted;*/
    padding: 4px 15px;
}
.dataDiv .navDiv{
    /*border : 1px #23527c dashed;*/
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}
.dataDiv .navDiv .directory .majorHeading{
    margin : 1px 0px 5px 15px;
}
.dataDiv .navDiv h3{
    padding: 1px 0px 5px 15px;
    text-align: left;
}
.dataDiv .navDiv h3 span{
    /*display: inline-block;*/
}
.dataDiv .navDiv .contentMiniGroup h3{
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 0px 15px 15px 0px; 
}
.dataDiv .navDiv h3 small{
    color: #000D29;
}
.dataDiv .navDiv hr{
    margin: 2px 17px 2px 17px;
    width: 95%;
    margin-left: 2.5%;
}
.dataDiv .navDiv p{
    margin : 1px 0px 2px 2px;
    text-align: left;
    color : #555;
    padding : 1px 10px;
}
.dataDiv .navDiv a{
    color: inherit;
    text-decoration: none;
    transition : .5s;
    display: block;
}
.dataDiv .navDiv a:hover, .dataDiv .navDiv a:active{
    color : #000D29;
    font-weight: 600;
}
.dataDiv .navDiv .contentMiniGroup h3 .caret{
    /*display: inline-block;*/
    margin-right: 15px;
    margin-top : 10px;
    transform: rotate(0deg);
    transition: .5s;
}
.dataDiv .navDiv .contentMiniGroup .minData{
    height: 200px;
    overflow-y: auto;
    transition: .5s;
}
#optionOpener{
    background-color: #000D29;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 10px 50% 50% 50%;
    text-align: center;
    font-size: 19px;
    font-weight: 800;
    padding-top: 12px;
    position: fixed;
    top: 112px;
    left: 6px;
    z-index: 4;
    border: 2px solid #000d29;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    display: none;
    transition: .5s;
}
@media(max-width:768px){
    .dataDiv .navDiv .contentMiniGroup h3 .caret{
        /*display: inline-block;*/
        margin-right: 20px;
        margin-top: 5px;
        transform: rotate(0deg);
        transition: .5s;
    }
    .dataDiv .navDiv .directory .majorHeading{
        margin-left: 60px;
    }
    #optionOpener{
        display: block;
    }
    .dataDiv .navDiv{
        padding :0;
        border-radius: 10px;
        width: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        z-index: 3;
        position: fixed;
        top: 123px;
        left: 15px;
        overflow: hidden;
        transition: .5s;
        height: 0;
        overflow-y: scroll;

    }
    .dataDiv .navDiv .directory{
        background: #fff;
        border-radius: 10px;
    }
}
@media(max-width:500px){
    .dataDiv .navDiv{
        top: 134px;
        left: 20px;
    }
    #optionOpener{
        top: 117px;
        left: 6px;
    }
}
@media(max-width:360px){
    .dataDiv .navDiv{}
    #optionOpener{}
}
@media(max-width:780px){
    .dataDiv .navDiv{
        /*border : 1px #23527c dashed;*/
        margin-top: 10px;
        margin-bottom: 10px;
        /*width: 202px;*/
        box-shadow: none;
    }
    .dataDiv .navDiv .directory .majorHeading{
        margin : 1px 0px 5px 15px;
    }
    .dataDiv .navDiv h3{
        margin : 1px 0px 5px 15px;
        text-align: left;
    }
    .dataDiv .navDiv h3 span{
        /*display: inline-block;*/
    }
    .dataDiv .navDiv .contentMiniGroup h3{
        cursor: pointer;
        background-color: #f9f9f9;
    }
    .dataDiv .navDiv h3 small{
        color: #000D29;
    }
    .dataDiv .navDiv hr{
        margin: 2px 17px 2px 17px;
        width: 95%;
        margin-left: 2.5%;
    }
    .dataDiv .navDiv p{
        margin : 1px 0px 2px 2px;
        text-align: left;
        color : #555;
        padding : 1px 10px;
    }
    .dataDiv .navDiv a{
        color: inherit;
        text-decoration: none;
        transition : .5s;
        display: block;
    }
    .dataDiv .navDiv a:hover, .dataDiv .navDiv a:active{
        color : #000D29;
        font-weight: 600;
    }
    .dataDiv .navDiv .contentMiniGroup h3 .caret{
        /*display: inline-block;*/
        margin-right: 15px;
        margin-top : 10px;
        transform: rotate(0deg);
        transition: .5s;
    }

}